<!doctype html>
<html lang="en">

<head>
    <#include "/html_parts/head_part.html">
    <title>Add Product</title>
</head>

<body>
<#include "/html_parts/header.html">
<div class="container">
    <div class="container pt-3">
    <h1 align="center">Add Product</h1>
    </div>
    <form action="/products/add" method="POST">

    <div class="container pt-3 pb-3">
        <div class="row justify-content-center align-items-center pt-3 pb-3">

            <div class="col col-md-2">
                <input type="text" name="name" class="form-control" placeholder="Enter product name:" aria-label="name:">
            </div>
            <div class="col col-md-2">
                <input type="number" step="0.01" min="0.01" name="price" class="form-control" placeholder="Enter product price:" aria-label="price:">
            </div>
        </div>

        <div class="row justify-content-center align-items-center pt-3 pb-3">
            <div class="col col-md-4">
                <textarea name="description" class="form-control" placeholder="Enter product description:" aria-label="description:"></textarea>
            </div>
        </div>

            <div class="row justify-content-center align-items-center pt-3 pb-3">
                <div class="col col-md-auto">
                    <button class="btn btn-outline-dark" type="submit">Add product</button>
                </div>
            </div>

    </div>
        <#include "/html_parts/success_to_products_list.html">
    </form>
</div>
<#include "/html_parts/footer_script.html">
</body>
</html>
