<!doctype html>
<html lang="en">
<head>
    <#include "/html_parts/head_part.html">
    <title>Products List</title>
</head>
<body>
<#include "/html_parts/header.html">
<#include "/html_parts/success_to_products_list.html">
<#if msgSuccess??>
<#else>
</br>
<h1 align="center">Products List</h1>
</br>


<div class="container ">

    <table class="table table-striped align-middle ">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Creation Date</th>
            <#if session?? && session.user.role == "ADMIN">
            <th scope="col ">Options</th>
            </#if>
        </tr>
        </thead>
        <tbody>
            <#list products as product>
                <tr>
                    <th scope="row">${product.id}</th>
                    <td>${product.name}</td>
                    <td>${product.description}</td>
                    <td>${product.price?string["0.00"]}</td>
                    <td>${product.creationDate}</td>
                    <td>
                        <#if session?? && session.user.role == "ADMIN">
                            <a href='/products/delete?id=${product.id}' type="button" class="btn btn-outline-dark">Delete</a>
                            <a href='/products/edit?id=${product.id}' type="button" class="btn btn-outline-dark">Edit</a>
                        </#if>
                        <#if session?? && (session.user.role == "ADMIN" || session.user.role == "USER")>
                            <form method="post" action='/products' style="display:inline;" >
                                <input type="hidden" name="id" value="${product.id}">
                                <input type="submit" value="Add to cart" class="btn btn-outline-dark" id="btn" >
                            </form>
                        </#if>
                    </td>
                </tr>
            </#list>
        </tbody>
    </table>

    <div align="center">
        </br>
        <#if session?? && session.user.role == "ADMIN">
            <a href="/products/add" type="button" class="btn btn-outline-dark" >Add new product</a>
        </#if>
    </div>


    </div>
</#if>
<#include "/html_parts/footer_script.html">
</body>
</html>